## 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [72]:
try:
    def arithmetic_operation(a):

        b = a.split()
        l3 = []
        for i in b:
            if i.isdigit():
                i=int(i)
                l3.append(i)
        x = l3[0]
        y = l3[1]
        #print(x,y)

        if y == 0:
            print(-1)

        elif b[1] == "+":
            print(x+y)

        elif b[1] == "-":
            print(x-y)

        elif b[1] == "*":
            print(x*y)

        elif b[1] == "//":
            print(x//y)  

except Exception as e:    
    print(str(e))

In [73]:
arithmetic_operation("12 + 12")

24

In [74]:
arithmetic_operation("12 - 12")

0

In [75]:
arithmetic_operation("12 * 12")

144

In [76]:
arithmetic_operation("12 // 0")

-1

## 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [15]:
def perimeter(a): 
    
    [[x1,y1], [x2,y2], [x3,y3]] = a
    AB=(((x2-x1)**2) + ((y2-y1)**2)) ** 0.5
    BC=(((x3-x2)**2) + ((y3-y2)**2)) ** 0.5
    CA=(((x1-x3)**2) + ((y1-y3)**2)) ** 0.5
    print(format(AB+BC+CA, ".2f"))

In [16]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [17]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [18]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

## 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],

[0, 0, 0, 0, 1, 0],

[0, 0, 1, 0, 1, 0],

[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([

[0, 0, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 3

tallest_skyscraper([

[0, 1, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([

[0, 0, 0, 0],

[0, 0, 0, 0],

[1, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 2

In [19]:
a = [[0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ]

In [57]:
def tallest_skyscraper(a):
    
    first_col = a[0][0] + a[1][0] + a[2][0] + a[3][0]
    #first_col
    second_col = a[0][1] + a[1][1] + a[2][1] + a[3][1]
    #second_col
    third_col = a[0][2] + a[1][2] + a[2][2] + a[3][2]
    #third_col
    fourth_col = a[0][3] + a[1][3] + a[2][3] + a[3][3]
    #fourth_col
    l1 = [first_col,second_col,third_col,fourth_col]
    print(max(l1))

In [61]:
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

3

In [62]:
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])

4

In [63]:
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]])

2

## 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	            -                 Bonus

0 to 32 days	  -                 Zero

33 to 40 days	   -      SGD$325 per billable day

41 to 48 days	   -      SGD$550 per billable day

Greater than 48 days   -   SGD$600 per billable day


Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32 x 0 + 8 x 325 + 5 x 550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [80]:
def bonus(a):
    
    if a<=32:
        print(0)

    if a>=33 and a<=40:
        x = (a-32) * 325
        print(x)

    if a>=41 and a<=48:
        y = (8 * 325) + ((a-40) * 550)
        print(y)

    if a>48:
        z = (8 * 325) + (8 * 550) + ((a-48) * 600)
        print(z)

In [81]:
bonus(15)

0

In [82]:
bonus(37)

1625

In [83]:
bonus(50)

8200

## 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [85]:
def is_disarium(n):
    
    #n = int(input('Enter the Number to find Disarium Number or Not: '))
    len1 = len(str(n))
    sum1=0
    n1 = n
    for i in range(1,len1+1):
        digit = n1%10
        sum1 = sum1+(digit**len1)
        len1 = len1-1
        n1 = n1//10

    # print(sum1)
    # print(n)
    if sum1 == n:
        print(True)
    else:
        print(False)

In [87]:
is_disarium(75)

False

In [88]:
is_disarium(135)

True

In [89]:
is_disarium(544)

False

In [90]:
is_disarium(518)

True

In [91]:
is_disarium(466)

False

In [92]:
is_disarium(8)

True